* {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}


p{
    color:hsl(229, 8%, 60%);
}


h3{
  font-size:1.2rem;
  margin-top:10%;
}


  .box-texte{
    padding:5% 15% 3% 15%;
  }
  

  /* NAVBAR */

  .navbar{
    margin-top: 2.8em;
    padding:0.5% 10% 0.5% 9%;
    letter-spacing: 2px;
    /* background-color: gold; */
  }
  
  .nav-item a{
    color:hsl(229, 31%, 21%);
    text-transform:uppercase;
    font-size:0.7em;
  }


  button {
    border:none;
    border-radius:5px;
    height:44px;
    font-size:0.8em;
  
  }

  .red-btn{
    color:#fff;
    font-size:0.7em;
    text-transform:uppercase;
    letter-spacing: 2px;
    background-color: hsl(0, 94%, 66%);
    width:110px;
    height:35px;
    box-shadow: 0px 4px 5px 0px #e7eaf3;
  }
  
  .red-btn:hover{
    background-color:#fff;
    color:hsl(0, 94%, 66%);
    border:solid 2px hsl(0, 94%, 66%);
    box-shadow: 0px 4px 5px 0px #e7eaf3;
  }
  


  /* BOX SIMPLE BOOKMARK MANAGER */
  .box-bookmark{
    margin-top: 10%;
    /* background-color: gold; */
  }


  .box-bookmark-hero{
    overflow: hidden;

  }

  .box-text-bookmark{
    align-self: center;


  }

  .get-it-btn-blue{
    width:150px;
    font-weight: 500;
    box-shadow: 0px 4px 5px 0px #e7eaf3;
    background-color:hsl(231, 69%, 60%);
    color:#fff;
  }

  .get-it-btn-blue:hover{
    border:solid 2px hsl(231, 69%, 60%);
    background-color:#fff;
    color:hsl(231, 69%, 60%);
    }

  .get-it-btn{
    width:150px;
    font-weight: 500;
    box-shadow: 0px 4px 5px 0px #e7eaf3;
    background-color: #f7f7f7;
    color: hsl(229, 31%, 21%);
  }

  .get-it-btn:hover{
    color:hsl(229, 31%, 21%);
    border:solid 2px hsl(229, 31%, 21%);
    }


  .blue-bg-right{
    position: absolute;
    display: block;
    width:800px;
    height:380px;
    background-color:hsl(231, 69%, 60%);
    margin-top: -340px;
    margin-left: 100px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    z-index:-1;

  }



  /* BOX FEATURES */

  .padding-text-features{
    padding:7% 6%;

  }

  .blue-bg-left{
    width:800px;
    height:380px;
    background-color: hsl(231, 69%, 60%);
    margin-top: -250px;
    margin-left: -350px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    z-index:-1;
  }

  .carousel-img{
    padding-left: 2em;
  }


  .features-btn{
    width:100%;
    border-bottom: 2px solid hsl(229, 8%, 80%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 50px;
    background-color: white;
  }

  .features-btn:focus{
    outline:none;
  }
  
  .features-btn:hover{
    color:hsl(0, 94%, 66%);
  }

  .features-btn:focus{
    outline:none;
  }
  
  .features-btn:hover{
    color:hsl(0, 94%, 66%);
  }
  
  .active-tab{
    border-bottom: 2px solid hsl(0, 94%, 66%);

  }
  

   /* BOX DOWNLOAD EXTENSION */


  .extension{
    border:none;
    box-shadow: 2px 2px 5px hsl(229, 8%, 90%);
    border-radius:10px;
    padding:9% 2%;
    margin-top:5%;
  }
  
  .extension-firefox{
    border:none;
    box-shadow: 2px 2px 5px hsl(229, 8%, 90%);
    border-radius:10px;
    padding:9% 2%;
    margin-top:25%;
  }
  
  .extension-opera{
    border:none;
    box-shadow: 2px 2px 5px hsl(229, 8%, 90%);
    border-radius:10px;
    padding:9% 2%;
    margin-top:50%;
  }
  
  .add-padding{
    width:90%;
    margin-top:4%;
    margin-bottom:8%;
  }

  .dot-bg{
    width:100%;
  }

  /* BOX FAQ */
  .accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #fff;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapse-arrow .icon {
    transform: rotate(-180deg);
    transition: .3s transform ease-in-out;
    display: inline-block;
  }
  
  .collapse-arrow .collapsed .icon {
    transform: rotate(0deg);
  }

  .bookmark-align-text{
    text-align: justify;
  }


  /* BOX STAY UP TO DATE */
  .stay-up {
    width: 100%;
    background-color: hsl(231, 69%, 60%);
    color: white;
    text-align: center;
    padding: 4em;
  }    

  .stay-up-text {
    color: white;
    }


  .formcontainer{
    width: 100%;
    height:100px;
    display:flex;  
    justify-content: center;
    align-items: center;
    color: hsl(0, 94%, 66%);
  }

  input{
    height:38px;
  }

  .stay-up-btn{
    color:#fff;
    font-weight:400;
    letter-spacing: 1px;
    background-color: hsl(0, 94%, 66%);
    width:110px;
    height:40px;
    
    }
    
  .stay-up-btn:hover{
    background-color:#fff;
    color:hsl(0, 94%, 66%);
    border:solid 2px hsl(0, 94%, 66%);
    }


  .field{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .icones{
    position: absolute;
    right: 40%;
    top:10%;
  }
    
  .iconerror{
    display:none;
  }

  form .error{
    width: 200px;
    font-style: italic;
    font-size: 12px;
    color:white;
    position: absolute;
    border: 4px solid hsl(0, 94%, 66%);
    background-color:hsl(0, 94%, 66%);
    margin-top: -4px;
    padding: 3px;
    padding-bottom: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .error{
    display:none;
  }


  /* NAVBAR FOOTER */

.footer-nav{
  background-color:hsl(229, 31%, 21%);
  padding:3% 0;
}

.footer-nav a{
  letter-spacing: 2px;
  color:white;
  text-transform:uppercase;
}

.footer-nav-bar{
  align-items: flex-start;
}

.footer-brand{
  text-align:center;
}